body {
    margin: 0;
  }
  
  .container {
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    height: auto;
    background-color: aliceblue;
  }
  
  .idPas {
    height: 30px;
    width: 80%;
    margin-top: 20px;
    padding-left: 3%;
  }
  
  .btn {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 82%;
    background-color: #2e2eef;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 5px;
  }
  